Unity/.utmp/RelWithDebInfo/614u4d3j/arm64-v8a/GameActivity/CMakeFiles/game.dir/UGASoftKeyboard.cpp.o
Unity/.utmp/RelWithDebInfo/614u4d3j/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
Unity/Assets/ExternalAssets/Fonts/LINESeedJP_20241105/App/TTF/LINESeedJP_A_TTF_Rg SDF.asset.meta
Unity/Assets/ExternalAssets/Fonts/LINESeedJP_20241105/App/TTF/LINESeedJP_A_TTF_Rg SDF.asset
Unity/Assets/Prefab/GarbageDialogueDataBase.asset
Unity/Assets/Prefab/PlantDialogueDataBase.asset
Unity/Assets/ExternalAssets/Fonts/HGRPP1 SDF.asset.meta
Unity/Assets/ExternalAssets/Fonts/HGRGY SDF.asset.meta
Unity/Assets/ExternalAssets/Fonts/HGRPP1 SDF.asset
Unity/Assets/ExternalAssets/Fonts/HGRGY SDF.asset
